.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 300px 100px;
  gap: 20px;
}
header, footer, nav, div, section{
  /* background-color: antiquewhite; */
  border: 1px solid red;
  padding: 10px;
  border-radius: 5px;

}
header,footer,main{
  grid-column: span 3;
  
}
main{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
main section{
  grid-column: span 3;
}
aside{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

@media screen and (max-width: 576px) {
  main{
    grid-template-columns: repeat(1, 1fr);
  }
  .container{
    grid-template-rows: 100px auto 100px;
  }
  nav, aside{
    grid-column: span 3;
  }
}